/* All pages */
body {
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  font-size: 20px;
}
body img {
  height: 62px;
  width: 56px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

/* header */
header {
  background-color: #88C6ED;
  box-shadow: 0px 4px 4px grey;
  display: flex;
  margin: 0px auto;
  min-width: 800px;
  padding: 30px;
  padding-left: 75px;
  padding-right: 85px;
  text-align: center;
}
header h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
}
nav {
  display: flex;
  gap: 25px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: black;
}
#slogan {
  color: #1984c7;
  font-size: 24px;
  margin-right: auto;
}

/* index.html */
#about-covid {
  margin-left: 60px;
  max-width: 35%;
}
#about-covid h1 {
  color: #1984c7;
}
#precautions {
  display: grid;
  grid-auto-rows: 0.2fr;
  grid-gap: 35px 100px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: right;
  margin-left: 135px;
  padding-right: 38px;
}
.subheading img {
    margin-right: 10px;
}
.subheading h2, .subheading img {
    display:inline-block;
    vertical-align:middle;
}
.subheading h2 {
  font-weight: bold;
  font-size: 28px;
  color: #1984c7;
  margin-bottom: 0px;
}

/* resources.html */
#links {
  margin-top: 80px;
  margin-left: 10%;
}
#links h1 {
  color: #1984c7;
}

/* donate.html */
#donate-body{
  background-image: url("/images/—Pngtree—cute\ cartoon\ people\ wearing\ mask_6659690.png");
  background-size: auto;
  background-position:top;
  
}
span {
  border-style: inset;
  border-color: #88C6ED;
  padding: 25px;
  background-color: rgb(238, 231, 231);
}
#formTitle {
  color: #1984c7;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
#application {
  display: flex;
  justify-content: center;
  line-height: 14pt;
  margin-top: 5px;
}
input[type=text], input[type=email], input[list=organizations] {
  width: 100%;
  padding: 7px 48px 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
};

/* color for the header = #88C6ED
display: flex on header nav tag to align the navbar properly.
text-decoration: none on the navbar links to get rid of the underline.
*/
/*
body{
  margin: 0;
  font-family: Roboto;
  font-style: normal;
}

header {
    margin: 0 auto;
    height: 146px;
    left: 0px;
    top: 0px;

    display: flex;


    background: #88C6ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#mission-statement h1 {
    position: absolute;
    width: 307px;
    height: 64px;
    left: 181px;
    top: 185px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
  }

  #mission-statement p {
    position: absolute;
    width: 653px;
    height: 632px;
    left: 60px;
    top: 280px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
  }

  h2 {
    position: absolute;
    width: 147px;
    height: 42px;
    left: 75px;
    top: 49px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;

  }

  h3 {
    width: 167px;
    height: 29px;
    left: 245px;
    top: 56px;


    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  a {
    position: absolute;
    width: 65px;
    height: 28px;
    left: 1059px;
    top: 59px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: black
  }


img {
    width: 62px;
    height: 56px;
    left: 720px;
    top: 213px;

    background: url(COVID-Icons-20.png);
}

p {
    width: 236px;
    height: 266px;
    left: 782px;
    top: 282px;

    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
nav{
  display: flex;
}


*/
