/* All pages */
body{
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}
body img{
  height: 62px;
  width: 56px;
}
Header{
  display: flex;
  text-align: center;
  background-color: #88C6ED;
  padding: 30px;
  padding-left: 75px;
  padding-right: 85px;
  box-shadow: 0px 4px 4px grey ;
  min-width: 500px;
}
Header h2{
  margin-right: 10px;
  font-weight: bold;
  font-size: 36px;
  color: white;
}
nav{
  display: flex;
  gap: 25px;
}
nav a{
  text-decoration: none;
  color: white;
}
#slogan{
  margin-right: auto;
  font-size: 24px;
}
main{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

/* index.html */
p{
  font-size: 24px;
}
#about-covid {
  margin-left: 60px;
  max-width: 30%;
}
#about-covid h1{
  margin-left: 181px;
}
#precautions{
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 100px;
  justify-content: right;
  margin-left: 100px;
  padding-right: 38px;
}
.subheading img {
    margin-right:10px;
}
.subheading h2, .subheading img {
    display:inline-block;
    vertical-align:middle;
}
.subheading h2 {
  font-weight: bold;
  font-size: 28px;
  color: #1984c7;
}

/* donate.html */
h2 {
  display: flex;
  justify-content: center;
}
span {
  border-style: groove;
}
#application {
  display: flex;

  justify-content: center;
  line-height: 14pt;
  margin-top: 25px;
  padding: 25px;
}
input[type=text], input[type=email], input[list=organizations] {
  width: 100%;
  padding: 7px 48px 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
};

/* color for the header = #88C6ED
display: flex on header nav tag to align the navbar properly.
text-decoration: none on the navbar links to get rid of the underline.
*/
/*
body{
  margin: 0;
  font-family: Roboto;
  font-style: normal;
}

header {
    margin: 0 auto;
    height: 146px;
    left: 0px;
    top: 0px;

    display: flex;


    background: #88C6ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#mission-statement h1 {
    position: absolute;
    width: 307px;
    height: 64px;
    left: 181px;
    top: 185px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
  }

  #mission-statement p {
    position: absolute;
    width: 653px;
    height: 632px;
    left: 60px;
    top: 280px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
  }

  h2 {
    position: absolute;
    width: 147px;
    height: 42px;
    left: 75px;
    top: 49px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;

  }

  h3 {
    width: 167px;
    height: 29px;
    left: 245px;
    top: 56px;


    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  a {
    position: absolute;
    width: 65px;
    height: 28px;
    left: 1059px;
    top: 59px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: black
  }


img {
    width: 62px;
    height: 56px;
    left: 720px;
    top: 213px;

    background: url(COVID-Icons-20.png);
}

p {
    width: 236px;
    height: 266px;
    left: 782px;
    top: 282px;

    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
nav{
  display: flex;
}


*/
